<!DOCTYPE html>
<html>
<head>
    <title>Base App</title>
    <link rel="stylesheet" type="text/css" href="CSS file/style.css"
</head>
<body>
    <div class="hero">
        <div class="head">
            <img src="Asset/memo.png" class="logo">
            <a href="login.html" target="_blank"><button type="button">Sign Up</button></a>

        
        <div class="content">
            <small>Welcome to base</small>
            <h1>PPD<br>Pensejahteraan Pemuda Desa</h1>
            <a href="login.html" target="_self"><button type="button">Trial</button></a>

        </div>
        <div class="side-bar">
            
        
            <div class="sosial-media">
                <img src="Asset/fb.png">
                <img src="Asset/ig.png">
                <img src="Asset/tw.png">

            </div>
            <div class="Tools">
                <img src="Asset/share.png">
                <img src="Asset/info.png">
                

            </div>
        
        
        </div>
    



        <div class="gelembung">
            <img src="Asset/bubble.png" >
            <img src="Asset/bubble.png" >
            <img src="Asset/bubble.png" >
            <img src="Asset/bubble.png" >
            <img src="Asset/bubble.png" >
            <img src="Asset/bubble.png" >
            <img src="Asset/bubble.png" >
        </div>
    </div>








</body>
</html>